@import helper._
@(game: ShiritoriGame)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>しりとり Game</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/main.js")" defer></script>
        @* Add CSRF token *@
        <script>
        const csrfToken = '@helper.CSRF.getToken.value';
        </script>
        <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.js"></script>

    </head>
    <body>
        <div class="container">
        <h1>しりとり Game</h1>
        <div id="timer">Time Remaining: 30s</div>
        <div id="container"></div>

        <div id="score-box">
            <h3>SCORE: <span id="score">@game.score</span>
            </h3>
            <h3>ゲームステータス: <span id="gameState">@game.state</span></h3>
        </div>



            <div class="game-info">
            <div id="word-box">
                <h2>前の単語: </h2><span id="lastWord">@game.lastword</span>
            </div>

            <div class="game-input">
                <form onsubmit="submitWord(); return false;">
                    <input type="text" id="wordInput" class="underline-input" placeholder=${} @if(game.state == GameOver){disabled}>
                </form>
            </div>
            <button onclick="submitWord()">回答</button>
            <button onclick="newGame()">New GAME</button>
        </div>

        <h2><span id="targetChar">@game.targetChar</span> で終わるとポイント2倍！</h2>



        <div id="error" class="error-message"></div>

        <div class="word-list">
            <h3>使用済みワード:</h3>
            <ul id="usedWords">
            @for(word <- game.usedWords) {
                <li>@word</li>
            }
            </ul>
        </div>
        </div>
    </body>
</html>
